USE [master]
GO
/****** Object:  Database [BookStorDB]    Script Date: 4/24/2026 2:58:44 PM ******/
CREATE DATABASE [BookStorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStorDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStorDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ),
( NAME = N'BookStorDB_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStorDB_.ndf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookStorDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BookStorDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStorDB]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Author_Id] [int] IDENTITY(100,1) NOT NULL,
	[Author_Name] [nvarchar](70) NOT NULL,
	[Author_Email] [varchar](50) NOT NULL,
	[Role_ID] [int] NULL,
	[Author_Password] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[Author_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_Id] [int] IDENTITY(1,1) NOT NULL,
	[Book_Title] [nvarchar](200) NOT NULL,
	[Book_ISBN] [nvarchar](50) NULL,
	[CopiesAvailable] [int] NULL,
	[Author_Id] [int] NULL,
	[Publisher_Id] [int] NULL,
	[Category_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [int] IDENTITY(500,10) NOT NULL,
	[Customer_Name] [nvarchar](70) NOT NULL,
	[Customer_Email] [varchar](60) NOT NULL,
	[Role_ID] [int] NULL,
	[Customer_Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_Id] [int] IDENTITY(200,10) NOT NULL,
	[Employee_FullName] [nvarchar](100) NOT NULL,
	[Employee_Email] [nvarchar](100) NOT NULL,
	[Employee_Address] [nvarchar](100) NULL,
	[Employee_Gender] [bit] NULL,
	[Employee_Phone] [nvarchar](20) NOT NULL,
	[Employee_JoinDate] [datetime] NULL,
	[Role_ID] [int] NULL,
	[Employee_Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Publisher_Id] [int] IDENTITY(1,1) NOT NULL,
	[Publisher_Name] [nvarchar](150) NOT NULL,
	[Publisher_Contact] [nvarchar](70) NULL,
	[Publisher_Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Publisher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[Rental_Id] [int] IDENTITY(300,10) NOT NULL,
	[Customer_ID] [int] NULL,
	[Book_Id] [int] NULL,
	[Rent_Date] [datetime] NOT NULL,
	[Return_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rental_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(400,10) NOT NULL,
	[Role_Name] [nvarchar](30) NOT NULL,
	[Date_Given] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Author_Id], [Author_Name], [Author_Email], [Role_ID], [Author_Password]) VALUES (100, N'Robert C. Martin', N'unclebob@cleancode.com', 400, N'p@ssword123')
INSERT [dbo].[Authors] ([Author_Id], [Author_Name], [Author_Email], [Role_ID], [Author_Password]) VALUES (101, N'J.K. Rowling', N'jkrowling@pottermore.com', 400, N'magic_pwd')
INSERT [dbo].[Authors] ([Author_Id], [Author_Name], [Author_Email], [Role_ID], [Author_Password]) VALUES (102, N'Stephen King', N'sking@horror.com', 400, N'redrum99')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Book_Id], [Book_Title], [Book_ISBN], [CopiesAvailable], [Author_Id], [Publisher_Id], [Category_Id]) VALUES (1, N'Clean Code', N'978-0132350884', 15, 100, 6, 2)
INSERT [dbo].[Books] ([Book_Id], [Book_Title], [Book_ISBN], [CopiesAvailable], [Author_Id], [Publisher_Id], [Category_Id]) VALUES (2, N'Harry Potter and the Sorcerer''s Stone', N'978-0439708180', 25, 101, 9, 3)
INSERT [dbo].[Books] ([Book_Id], [Book_Title], [Book_ISBN], [CopiesAvailable], [Author_Id], [Publisher_Id], [Category_Id]) VALUES (3, N'The Shining', N'978-0307743657', 10, 102, 2, 3)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_Id], [Category_Name], [Description]) VALUES (1, N'Science', N'Math, Physics, Chemistry, Biology, etc.')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name], [Description]) VALUES (2, N'Technology', N'Programming, Algorithms, Networking, AI, etc.')
INSERT [dbo].[Categories] ([Category_Id], [Category_Name], [Description]) VALUES (3, N'Literature', N'Stories, Novels, Poetry, etc.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Customer_Email], [Role_ID], [Customer_Password]) VALUES (500, N'John Doe', N'john.doe@email.com', 430, N'customer123')
INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Customer_Email], [Role_ID], [Customer_Password]) VALUES (510, N'Jane Smith', N'jane.smith@gmail.com', 430, N'securePass!')
INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Customer_Email], [Role_ID], [Customer_Password]) VALUES (520, N'Michael Brown', N'mbrown@outlook.com', 430, N'mike_pwd')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Employee_Id], [Employee_FullName], [Employee_Email], [Employee_Address], [Employee_Gender], [Employee_Phone], [Employee_JoinDate], [Role_ID], [Employee_Password]) VALUES (200, N'Alice Johnson', N'alice.j@bookstore.com', N'123 Library St, New York', 0, N'555-0101', CAST(N'2024-05-15T00:00:00.000' AS DateTime), 420, N'admin_alice')
INSERT [dbo].[Employee] ([Employee_Id], [Employee_FullName], [Employee_Email], [Employee_Address], [Employee_Gender], [Employee_Phone], [Employee_JoinDate], [Role_ID], [Employee_Password]) VALUES (210, N'Bob Thompson', N'bob.t@bookstore.com', N'456 Reading Rd, Boston', 1, N'555-0102', CAST(N'2024-06-20T00:00:00.000' AS DateTime), 410, N'bob_staff')
INSERT [dbo].[Employee] ([Employee_Id], [Employee_FullName], [Employee_Email], [Employee_Address], [Employee_Gender], [Employee_Phone], [Employee_JoinDate], [Role_ID], [Employee_Password]) VALUES (220, N'Charlie Parker', N'charlie.p@bookstore.com', N'789 Novel Ave, Chicago', 1, N'555-0103', CAST(N'2024-08-10T00:00:00.000' AS DateTime), 410, N'charlie_staff')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Publisher_Id], [Publisher_Name], [Publisher_Contact], [Publisher_Address]) VALUES (1, N'Oxford University Press', N'+44 1865 556767', N'Great Clarendon Street, Oxford, UK')
INSERT [dbo].[Publishers] ([Publisher_Id], [Publisher_Name], [Publisher_Contact], [Publisher_Address]) VALUES (2, N'Penguin Random House', N'+1 212 782 9000', N'1745 Broadway, New York, NY, USA')
INSERT [dbo].[Publishers] ([Publisher_Id], [Publisher_Name], [Publisher_Contact], [Publisher_Address]) VALUES (3, N'HarperCollins', N'+1 212 207 7000', N'195 Broadway, New York, NY, USA')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([Rental_Id], [Customer_ID], [Book_Id], [Rent_Date], [Return_Date]) VALUES (300, 500, 1, CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-04-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Rentals] ([Rental_Id], [Customer_ID], [Book_Id], [Rent_Date], [Return_Date]) VALUES (310, 510, 2, CAST(N'2026-04-05T00:00:00.000' AS DateTime), CAST(N'2026-04-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Rentals] ([Rental_Id], [Customer_ID], [Book_Id], [Rent_Date], [Return_Date]) VALUES (320, 520, 3, CAST(N'2026-04-10T00:00:00.000' AS DateTime), CAST(N'2026-04-24T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_Name], [Date_Given]) VALUES (400, N'Author', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[Role] ([Role_ID], [Role_Name], [Date_Given]) VALUES (410, N'Employee', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[Role] ([Role_ID], [Role_Name], [Date_Given]) VALUES (420, N'Admin', CAST(N'2026-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__74A104C8614089B8]    Script Date: 4/24/2026 2:58:44 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[Book_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [CopiesAvailable]
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT (getdate()) FOR [Rent_Date]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([Author_Id])
REFERENCES [dbo].[Authors] ([Author_Id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([Publisher_Id])
REFERENCES [dbo].[Publishers] ([Publisher_Id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD FOREIGN KEY([Book_Id])
REFERENCES [dbo].[Books] ([Book_Id])
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
/****** Object:  StoredProcedure [dbo].[Fire_Employee]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Fire_Employee] 
@Employee_Id int 
As begin 
Delete from Employee
where Employee_Id = @Employee_Id
ENd
GO
/****** Object:  StoredProcedure [dbo].[HireEmployee_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  proc [dbo].[HireEmployee_Proc]
@Employee_FullName nvarchar(100),
@Employee_Email nvarchar(100),
@Employee_Password Nvarchar(100),
@Employee_Address Nvarchar(100),
@Employee_Gender bit,
@Employee_Phone Nvarchar(20),
@Employee_Role Nvarchar(40)
As Begin
Declare @Role_ID int 

select @Role_ID = R.Role_ID From
Role R
where R.Role_Name = @Employee_Role
Insert into Employee(Employee_FullName,Employee_Email,Employee_Password,Employee_Address,Employee_Gender,Employee_Phone,Role_ID)
Values(@Employee_FullName,@Employee_Email,@Employee_Password,@Employee_Address,@Employee_Gender,@Employee_Phone,@Role_ID)
End
GO
/****** Object:  StoredProcedure [dbo].[Insert_Book_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[Insert_Book_Proc]
@Title_Book Nvarchar(100),
@Book_ISBN  Nvarchar(100),
@CopiesAvailable int ,
@Author_Name Nvarchar(100),
@Publisher_Name Nvarchar(100),
@Category_Name Nvarchar(100)
As Begin
Declare @Author_ID int 
Declare @Publisher_ID int
Declare @Category_ID int 

Select @Author_ID  = Author_ID
From Authors
Where Author_Name = @Author_Name

Select @Publisher_ID  = Publisher_ID
From Publishers
Where Publisher_Name = @Publisher_Name

Select @Category_ID  = Category_ID
From Categories
Where Category_Name = @Category_Name


Insert Books 
Values(@Title_Book,@Book_ISBN,@CopiesAvailable,@Author_Id,@Publisher_Id,@Category_Id)
End

GO
/****** Object:  StoredProcedure [dbo].[InsertAuthor_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[InsertAuthor_Proc]
@Author_Name nvarchar(100),
@Author_Email nvarchar(100),
@Author_Password Nvarchar(70)
as Begin 
 Declare @Role_ID int
 Select @Role_ID = R.Role_ID
 From Role R
Where R.Role_Name = 'Author'

insert Authors 
values(@Author_Name,@Author_Email,@Author_Password,@Role_ID)
ENd
GO
/****** Object:  StoredProcedure [dbo].[Login_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc  [dbo].[Login_Proc]
@Email Nvarchar(100),
@Password Nvarchar(70)
As Begin
    -- المستخدمين
    IF EXISTS (SELECT 1 FROM Customers WHERE Customer_Email = @Email And Customer_Password = @Password )
    BEGIN
        SELECT R.Role_Name 
        FROM Customers C
        JOIN Role R ON C.Role_ID = R.Role_ID
        WHERE C.Customer_Email = @Email
        RETURN
    END

    -- الموظفين
    IF EXISTS (SELECT 1 FROM Employee WHERE Employee_Email = @Email And Employee_Password = @Password)
    BEGIN
        SELECT R.Role_Name
        FROM Employee E
        JOIN Role R ON E.Role_ID = R.Role_ID
        WHERE E.Employee_Email= @Email
        RETURN
    END

    -- المؤلفين
    IF EXISTS (SELECT 1 FROM Authors WHERE Author_Email = @Email  And Author_Password = @Password)
    BEGIN
        SELECT R.Role_Name
        FROM Authors A
        JOIN Role R ON A.Role_ID = R.Role_ID
        WHERE A.Author_Email = @Email
        RETURN
    END

    -- إذا لم يوجد
    SELECT 'Invalid Login' AS Result

END
GO
/****** Object:  StoredProcedure [dbo].[RentBook_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RentBook_Proc]
    @Book_Title Nvarchar(100),
    @Customer_Name Nvarchar(100) 

AS
BEGIN
    -- تحقق من توفر الكتاب
    DECLARE @Available INT, @Book_ID int , @Customer_ID int ,@Due_Date Date
	set @Due_Date =   DateADD(Day,14,GETDATE())

  Select @Book_ID = Book_ID from Books Where Book_Title= @Book_Title
    Select @Customer_ID = Customer_ID from Customers Where Customer_Name= @Customer_Name and Role_ID = 430

	if @Book_ID IS not null AND @Customer_ID IS NOT NULL
	AND(SELECT CopiesAvailable FROM Books WHERE Book_ID  =@Book_ID)>0
	Begin 
	insert into Rentals(Customer_ID , Book_Id , Rent_Date , Return_Date )
	vALUES(@Customer_ID , @Book_ID , GETDATE(),@Due_Date)

	uPDATE Books SET CopiesAvailable = CopiesAvailable - 1 Where Book_Id = @Book_ID
	Select 1 as Result;
	End 
	ELSE 
	Select 0 as result
	End 
  
GO
/****** Object:  StoredProcedure [dbo].[Search_Book_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Search_Book_Proc]
@Book_Title Nvarchar(100)
as begin 
SELECT* fROM Books 
where Book_Title = @Book_Title
End
GO
/****** Object:  StoredProcedure [dbo].[SearchEmployee_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 Create Proc [dbo].[SearchEmployee_Proc]
	 @OldName Nvarchar(50)
	 As Begin 
	 Select * from Employee
	 Where Employee_FullName = @OldName
	 ENd
GO
/****** Object:  StoredProcedure [dbo].[Select_Employees_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Select_Employees_Proc]
as begin 
select E.Employee_Id , E.Employee_FullName, E.Employee_Email, E.Employee_Address, E.Employee_Gender,E.Employee_Phone,E.Employee_JoinDate , R.Role_Name
from Employee E
join Role R
ON E.Role_ID  = R.Role_ID
End
GO
/****** Object:  StoredProcedure [dbo].[Select_Publishers_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Select_Publishers_Proc]
as Begin 
Select * from Publishers
ENd
GO
/****** Object:  StoredProcedure [dbo].[Show_Author_Name]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[Show_Author_Name]
AS begin
select Author_Name
from Authors
End
GO
/****** Object:  StoredProcedure [dbo].[ShowAuthors_Book]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ShowAuthors_Book] 
@Author_Name Nvarchar(100)
AS BEGIN
Select B.Book_Title , B.Book_ISBN , A.Author_Name , P.Publisher_Name , C.Category_Name
From Authors  A
Join Books B ON A.Author_Id = B.Author_Id
Join Publishers P On P.Publisher_Id = B.Publisher_Id
join Categories C On C.Category_Id = B.Category_Id
Where A.Author_Name = @Author_Name
 eND
GO
/****** Object:  StoredProcedure [dbo].[SignUp_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SignUp_Proc]
@Name Nvarchar(70),
@Email Nvarchar(50),
@Password Nvarchar(70)
 As Begin 
 Declare @Role int
 Select @Role = R.Role_ID
 From Role R
 Where Role_Name = 'Customer'
 insert into Customers(Customer_Name , Customer_Email,Customer_Password,Role_ID)
 Values(@Name,@Email,@Password,@Role)
 End
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee_Proc]    Script Date: 4/24/2026 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[UpdateEmployee_Proc]
	@Employee_FullName nvarchar(100) ,
	@Employee_Email nvarchar(100) ,
	@Employee_Password nvarchar(50),
	@Employee_Address nvarchar(100) ,
	@Employee_Gender bit,
	@Employee_Phone nvarchar(20) 
	AS begin 
	Update Employee
	Set Employee_FullName = @Employee_FullName ,
	 Employee_EMail = @Employee_Email,
	 Employee_Password = @Employee_Password
	 ,Employee_Address = @Employee_Address,
	 Employee_Gender = @Employee_Gender,
	 @Employee_Phone = @Employee_Phone
	 Where Employee_FullName = @Employee_FullName
	 End
GO
USE [master]
GO
